/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* What is this doing? flex-wrap: wrap; */
  align-items: center;
  background-color: darkslategrey;
  color: darkturquoise;
}

h1,
h2 {
  background: darkturquoise;
  color: darkslategrey;
  display: inline;
  width: 33%;
  padding: 0 0 0 50px;
  margin: 20px 20px 20px 0;
}

nav {
  display: flex;
  flex-direction: row;
}

a:link,
a:visited {
  text-decoration: none;
  color: darkturquoise;
  margin-right: 10px;
  padding: 0 20px;
}

a:hover {
  color: orangered;
}

a:active {
  background-color: darkturquoise;
  color: darkslategrey;
}

.hero {
  background-image: url(./images/Appalachia.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  max-width: 100%;
}

/* .hero h2 {
  margin-left: 30px;
} */
