/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: darkslategrey;
  color: darkturquoise;
}

h1 {
  background: darkturquoise;
  color: darkslategrey;
  display: inline;
  width: 33%;
  padding: 0 0 0 50px;
  margin: 20px 20px 20px 0;
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  display: inline;
}
